In [1]:
# importing basics libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_train = pd.read_excel(r"C:\Users\Sandipsinh\Flight_Prediction\Data_Train.xlsx")
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
df_train.shape

(10683, 11)

In [4]:
df_test = pd.read_excel(r"C:\Users\Sandipsinh\Flight_Prediction\Test_set.xlsx")
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
final = df_train.append(df_test)
final.tail()

C:\Users\Sandipsinh\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,Additional_Info,Airline,Arrival_Time,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops
2666,No info,Air India,20:25 07 Jun,6/06/2019,20:30,Banglore,23h 55m,NaN,CCU → DEL → BLR,Kolkata,1 stop
2667,No info,IndiGo,16:55,27/03/2019,14:20,Banglore,2h 35m,NaN,CCU → BLR,Kolkata,non-stop
2668,No info,Jet Airways,04:25 07 Mar,6/03/2019,21:50,Cochin,6h 35m,NaN,DEL → BOM → COK,Delhi,1 stop
2669,No info,Air India,19:15,6/03/2019,04:00,Cochin,15h 15m,NaN,DEL → BOM → COK,Delhi,1 stop
2670,No info,Multiple carriers,19:15,15/06/2019,04:55,Cochin,14h 20m,NaN,DEL → BOM → COK,Delhi,1 stop

In [6]:
final.shape

(13354, 11)

In [7]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
Additional_Info    13354 non-null object
Airline            13354 non-null object
Arrival_Time       13354 non-null object
Date_of_Journey    13354 non-null object
Dep_Time           13354 non-null object
Destination        13354 non-null object
Duration           13354 non-null object
Price              10683 non-null float64
Route              13353 non-null object
Source             13354 non-null object
Total_Stops        13353 non-null object
dtypes: float64(1), object(10)
memory usage: 730.3+ KB

In [8]:
# Feature Engineering process
final['Date'] = final['Date_of_Journey'].str.split('/').str[0]
final['Month'] = final['Date_of_Journey'].str.split('/').str[1]
final['Year'] = final['Date_of_Journey'].str.split('/').str[2]

In [9]:
final.head(2)

,Additional_Info,Airline,Arrival_Time,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops,Date,Month,Year
0,No info,IndiGo,01:10 22 Mar,24/03/2019,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop,24,03,2019
1,No info,Air India,13:15,1/05/2019,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops,1,05,2019

In [10]:
final['Date']=final['Date'].astype(int)
final['Month']=final['Month'].astype(int)
final['Year']=final['Year'].astype(int)

In [11]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
Additional_Info    13354 non-null object
Airline            13354 non-null object
Arrival_Time       13354 non-null object
Date_of_Journey    13354 non-null object
Dep_Time           13354 non-null object
Destination        13354 non-null object
Duration           13354 non-null object
Price              10683 non-null float64
Route              13353 non-null object
Source             13354 non-null object
Total_Stops        13353 non-null object
Date               13354 non-null int32
Month              13354 non-null int32
Year               13354 non-null int32
dtypes: float64(1), int32(3), object(10)
memory usage: 886.8+ KB

In [12]:
final.drop('Date_of_Journey',axis=1,inplace=True)

In [13]:
final['Arrival_Time'].str.split(' ').str[0]

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [14]:
# OR method
final['Arrival_Time']=final['Arrival_Time'].apply(lambda x : x.split(' ')[0])

In [15]:
final['Arrival_Hour'] = final['Arrival_Time'].apply(lambda x : x.split(':')[0])
final['Arrival_min'] = final['Arrival_Time'].apply(lambda x : x.split(':')[1])

In [16]:
final.head(1)

,Additional_Info,Airline,Arrival_Time,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops,Date,Month,Year,Arrival_Hour,Arrival_min
0,No info,IndiGo,01:10,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop,24,3,2019,01,10

In [17]:
final['Arrival_Hour'] = final['Arrival_Hour'].astype(int)
final['Arrival_min'] = final['Arrival_min'].astype(int)

In [18]:
final.drop('Arrival_Time',axis=1,inplace=True)

In [19]:
# do same for the departure_time
final['Dep_Hour'] = final['Dep_Time'].apply(lambda x : x.split(':')[0])
final['Dep_min'] = final['Dep_Time'].apply(lambda x : x.split(':')[1])

final['Dep_Hour'] = final['Dep_Hour'].astype(int)
final['Dep_min'] = final['Dep_min'].astype(int)

final.drop('Dep_Time', axis=1, inplace=True)

In [20]:
final['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [21]:
# now we consider for total_stops column
final['Total_Stops'] = final['Total_Stops'].map({'non-stop':0, '1 stop':1, '2 stop':2, '3 stop':3, '4 stop':4, 'nan':1})

In [22]:
final.head(1)

,Additional_Info,Airline,Destination,Duration,Price,Route,Source,Total_Stops,Date,Month,Year,Arrival_Hour,Arrival_min,Dep_Hour,Dep_min
0,No info,IndiGo,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,0.0,24,3,2019,1,10,22,20

In [23]:
final.drop('Route', axis=1, inplace=True)

In [24]:
final['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [25]:
final['Duration_hour']=final['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [26]:
final[final['Duration_hour']=='5m']

,Additional_Info,Airline,Destination,Duration,Price,Source,Total_Stops,Date,Month,Year,Arrival_Hour,Arrival_min,Dep_Hour,Dep_min,Duration_hour
6474,No info,Air India,Hyderabad,5m,17327.0,Mumbai,NaN,6,3,2019,16,55,16,50,5m
2660,No info,Air India,Hyderabad,5m,NaN,Mumbai,NaN,12,3,2019,16,55,16,50,5m

In [27]:
final.drop(2660, axis=0, inplace=True)
final.drop(6474, axis=0, inplace=True)

In [28]:
final['Duration_hour'] = final['Duration_hour'].astype(int)

In [29]:
final['Duration_hour'] * 60

0        120
1        420
2       1140
3        300
4        240
        ...
2666    1380
2667     120
2668     360
2669     900
2670     840
Name: Duration_hour, Length: 13351, dtype: int32

In [30]:
final.drop('Duration', axis=1, inplace=True)

In [31]:
final['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [32]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [33]:
final['Airline'] = labelencoder.fit_transform(final['Airline'])
final['Source'] = labelencoder.fit_transform(final['Source'])
final['Destination'] = labelencoder.fit_transform(final['Destination'])
final['Additional_Info'] = labelencoder.fit_transform(final['Additional_Info'])

In [35]:
final.head(2)

,Additional_Info,Airline,Destination,Price,Source,Total_Stops,Date,Month,Year,Arrival_Hour,Arrival_min,Dep_Hour,Dep_min,Duration_hour
0,8,3,5,3897.0,0,0.0,24,3,2019,1,10,22,20,2
1,8,1,0,7662.0,3,NaN,1,5,2019,13,15,5,50,7

In [36]:
final['Total_Stops'].isnull().sum()

1955

In [38]:
final['Total_Stops'].unique()

array([ 0., nan,  1.])

In [41]:
final['Total_Stops'].mode()[0]

1.0

In [42]:
final['Total_Stops'] = final['Total_Stops'].fillna(final['Total_Stops'].mode()[0])

In [43]:
final.head()

,Additional_Info,Airline,Destination,Price,Source,Total_Stops,Date,Month,Year,Arrival_Hour,Arrival_min,Dep_Hour,Dep_min,Duration_hour
0,8,3,5,3897.0,0,0.0,24,3,2019,1,10,22,20,2
1,8,1,0,7662.0,3,1.0,1,5,2019,13,15,5,50,7
2,8,4,1,13882.0,2,1.0,9,6,2019,4,25,9,25,19
3,8,3,0,6218.0,3,1.0,12,5,2019,23,30,18,5,5
4,8,3,5,13302.0,0,1.0,1,3,2019,21,35,16,50,4