In [1]:
# Que 1
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Que 2
def leap_year(year):
    return (year%4==0 or year%400==0) and (year%100!=0)

In [3]:
leap_year(2012)

True

In [4]:
leap_year(2017)

False

In [5]:
leap_year(2016)

True

In [6]:
# Que 3
def even_odd(y):
    return [x for x in y if x%2==0]

In [7]:
y=[1,2,3,4,5,6,7,8,9,10,11,12,13]
even_odd(y)

[2, 4, 6, 8, 10, 12]

In [8]:
num=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]
even_odd(num)

[26, 28, 30, 32, 34, 36, 38, 40]

In [9]:
# Que 4
def intersection(l1,l2):
    for num in l2:
        if num in l1:
            print(num)

In [10]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [1, 2, 5, 7, 9, 18, 15,10]
intersection(l1,l2)

1
2
5
7
9
10